extends layout

block content

  div(class='col-md-12')
    div#alerts

  div(class='answers')
    div(class="row")
      div(class="editor-container")
        div(class="col-md-6")
          div#editor
        div(class="col-md-6")
          div#result

      button#run(type='' class='btn btn-success') Run code
      button#run(type='' class='btn btn-default pull-right') Export as anonymous Gist
      button#run(type='' class='btn btn-default pull-right') Export as Gist
    button#answer(type='submit' class='btn btn-default') Add a solution

  iframe(sandbox='allow-scripts'
          id='sandboxed'
          src='/frame' height='0' width='0')

  script(type='text/javascript' src='../javascripts/editor.js')
