extends ../layout
block content
  a(href="questions/new" class="pull-right btn btn-success") Add A Question
  h1(class='page-header') Answer A Question

  table(class='table')
    thead
      th Title
      th Description
      th Upvotes

    tbody
      each exercise in exercises
        tr
          td
            a(href="/questions/#{exercise.id}") #{exercise.title}
          if exercise.description
            td= exercise.description.substring(0,100) + "..."
          td= exercise.upvotes
